@font-face {
    font-family: ms100;
    src: url("../fonts/Museo_Slab_300.otf") format("opentype");
}
@font-face {
    font-family: ms700;
    src: url("../fonts/MuseoSans_700.otf") format("opentype");
}
@font-face {
    font-family: ms900;
    src: url("../fonts/MuseoSans_900.otf") format("opentype");
}


html,body {
    color: white;
}

body { 
  background: url("../fs/fondo.png") no-repeat center fixed; 
  background-size: cover;
}

/*Pagina jugar*/
#contenedorGame{
    height: 100%;
}
.gameTitle{
    padding-top: 5%;
    color:white;
    font-family: ms900;
    font-size: 1.5em;
    margin:0;
    margin-right: 2%;
}

.gameSubTitle{
    margin-top:0;
    color:white;
    font-size: 1.5em;
    font-family: ms100;
    margin-right: 2%;
}

.left_div{
    margin:0px;
    padding: 0px;
    padding-top: 2%;
    text-align: center;
    height: 100%;
    font-family: ms100;
}

.gameContent{
    height: 75%;
}

.button {
    background-color: #fec100;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#stopbutton{
    border-radius: 10px;
    font-family: ms100;
    background-color: #c81e24;
    width: 100%;
}

#startbutton{
    border-radius: 10px;
    font-family: ms100;
    background-color: #ffc801;
    width: 100%;
}

.progress{
    height: 50px;
}

#tiempo{
    font-size:100px;
    height: 100%;
    font-family: ms100;
}

#progressBarControl{
    margin-top: 180px;
    
    height: 100px;
}

.textJuego{
    font-family: ms100;
    text-align: right;
}

#meter{
    border-radius: 20px;
}

