@font-face {
    font-family: ms100;
    src: url("../fonts/Museo_Slab_300.otf") format("opentype");
}
@font-face {
    font-family: ms700;
    src: url("../fonts/MuseoSans_700.otf") format("opentype");
}
@font-face {
    font-family: ms900;
    src: url("../fonts/MuseoSans_900.otf") format("opentype");
}

    html,body {
    color: white;
}

body { 
  background-image: url("../fs/fondo.png"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Pagina jugar*/
#contenedorGame{
    height: 100%;
}

#valAcumm{
    font-size: 50px;
}

.left_div{
    margin:0px;
    padding: 0px;
    padding-top: 2%;
    text-align: center;
    height: 100%;
    font-family: ms100;
    width: 33%;
    display: inline-block;
}

.gameContent{
    height: 100%;
    margin-top:12%;
}

.button {
    border: none;
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.titulo{
    padding:0px;
    margin:0px;
}

#stopbutton{
    border-radius: 10px;
    font-family: ms100;
    background-color: #c81e24;
    width: 100%;
}

#startbutton{
    border-radius: 10px;
    font-family: ms100;
    background-color: #262262;
    width: 100%;
}

#tiempo{
    font-size:90px;
    height: auto;
    font-family: ms100;
}

#progressBarControl{
    margin-top: 100px;
    height: 120px;
}

#meter{
    border-radius: 20px;
}

.modalGame{
    margin-top: 20%;
    text-align: center;
}

.mensajeGanarPerder h1{
    margin:0;
    padding: 7%;
    color:#ffde00;
    font-family: ms900;
    font-size: 2.5em;
}

.mensajeGanarPerder h2{
    margin:0;
    margin-top:0;
    padding-bottom: 2%;
    color:white;
    font-size: 1.5em;
    font-family: ms100;
}

.modal-content{
    border-radius: 15px;
}

.modal-body{
    text-align: center;
    border-radius: 10px;
    background-color: rgba(133,43,109,1);
    padding:0;
}